<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="d-flex container-fluid justify-content-between">
    <a class="navbar-brand" routerLink="">
      <div>
        <img alt="test" src="../../../assets/cropped-logo_300.ico" class="w-50">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto mb-lg-0" id="navbarBtn">
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-homepage" routerLink="">Homepage</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-centrali" routerLink="/centrali">Centrali</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-percorsi" routerLink="/percorsi">Percorsi</button>
        </li>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </ul>
    </div>
  </div>
</nav>


<script>
  document.addEventListener('DOMContentLoaded', () => {
  const navEl = document.querySelector('.navbar');

  window.addEventListener('scroll', () => {
    if(window.scrollY > 30){
      navEl.classList.add('navbar-scrolled');
    }else if(window.scrollY <=30){
      navEl.classList.remove('navbar-scrolled');
    }
  });
  });

</script>
