<nav class="navbar navbar-expand-md navbar-light bg-light bg-gradient sticky-top">
  <div class="d-flex container-fluid justify-content-evenly">
    <a class="navbar-brand" routerLink="">
      <div>
        <img alt="test" src="../../../assets/cropped-logo_300.ico" class="w-75">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/centrali">Centrali</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/percorsi">Percorsi</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
