.btn-homepage{
  border: 1px solid #5CB34A;
  border-radius: 5%;
  background-color: #5CB34A;
}
.btn-centrali{
  border: 1px solid #C61E31;
  border-radius: 5%;
  background-color: #C61E31;
}
.btn-percorsi{
  border: 1px solid #F49B2D;
  border-radius: 5%;
  background-color: #F49B2D;
}

.toggler-custom{
  background-color:#5CB34A;
}

.btn-outline-success{
  background-color: #5CB34A;
}

.form-control{
  background-color: rgb(92,179,74, 0.9);
}

.spaced{
  margin-right: 0.3rem;
}
