.btn-homepage{
  border: 1px solid rgb(92, 179, 74);
  border-radius: 0.2rem;
  background-color: rgb(92, 179, 74);
  color: rgba(255, 255, 255, 0.853);
}
.btn-homepage:active{
  background-color: rgb(63, 123, 50);
  border-color: rgb(63, 123, 50);
  box-shadow: none;
}


.btn-centrali{
  border: 1px solid rgb(198, 30, 49);
  border-radius: 0.2rem;
  background-color: rgb(198, 30, 49);
  color: rgba(255, 255, 255, 0.853);
}

.btn-centrali:active{
  background-color: rgb(147, 22, 37);
  border-color: rgb(147, 22, 37);
  box-shadow: none;
}


.btn-percorsi{
  border: 1px solid rgb(244, 155, 45);
  border-radius: 0.2rem;
  background-color: rgb(244, 155, 45);
  color: rgba(255, 255, 255, 0.853);
}
.btn-percorsi:active{
  background-color: rgb(192, 119, 30);
  border-color: rgb(192, 119, 30);
  box-shadow: none;
}

.btn-custom{
  margin-right: 0.3rem;
  margin-top: 0;
  @media(max-width: 767px){
    margin-bottom: 0.3rem;
    margin-right: 0;
  }
}

.custom-list{
  @media(max-width: 767px){
    margin-top: 1.5rem;
    >li{
      >button{
        width: 100%;
        text-align: center;
        font-size: 1.15em;
      }
    }
  }
}

.btn-search{
  background-color: rgb(63, 123, 50);
  border-color: rgb(63, 123, 50);
  color: rgba(255, 255, 255, 0.853);
}
.btn-search:active{
  background-color: rgb(52, 103, 40);
  border-color: rgb(52, 103, 40);
  box-shadow: none;
}
.btn-search:hover{
  color: #2d2d2de6;
}


.toggler-custom{
  background-color:#5CB34A;
}

.form-control-custom, .form-control-custom:active, .form-control-custom:focus{
  background-color: rgb(92,179,74, 0.9);
  border: 1px solid rgb(92,179,74, 0.9);
  border-radius: 0.2rem;
  box-shadow: none;
}

.btn-custom:focus{
  box-shadow: none;
  transition: all 120;
}
.btn-custom:hover{
  color: #2d2d2de6;
  transition: all 120;
}

.navbar-scrolled{
  background-color: rgba(251, 255, 241, 0.95);
  box-shadow: rgba(0, 0, 0, 0.15);
}

.navbar-custom{
  transition: all 0.3s;
  @media(max-width: 767px){
    background-color: white;
  }
}
