<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom">
  <div class="d-flex container-fluid justify-content-between">
    <a class="navbar-brand" routerLink="">
      <div>
        <img alt="test" src="../../../assets/cropped-logo_300.ico" class="w-50">
      </div>
    </a>
    <button class="navbar-toggler toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-color-green"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto mb-lg-0 custom-list">
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-homepage btn-custom" routerLink="">Homepage</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-centrali btn-custom" routerLink="/centrali">Centrali</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-percorsi btn-custom" routerLink="/percorsi">Percorsi</button>
        </li>
      <form class="d-flex">
        <input #searchBar class="form-control form-control-custom ms-1" type="search" placeholder="Cerca" aria-label="search" (input)="onSearch(searchBar.value)" (input)="onInput()">
      </form>
      </ul>
      <div *ngIf="searchBar.value" class="result-box">
          <div *ngFor="let result of filteredList">
            <p class="d-flex flex-wrap">{{result.name}}</p>
          </div>
      </div>
    </div>
  </div>
</nav>

