.card-container{
  border-radius: 15px;
  justify-content: center;
  background-color: transparent;
  width: 90%;
  height: 75vh;
  margin-bottom: 2rem;
  background-color: #bbb;
  color: black;
  overflow: hidden;
}

.img-container{
  display: flex;
  justify-content: center;
  object-fit: fill;
  height: 45%;
  >img{
    width: 100%;
  }
}
