.full-card{
    border-radius: 15%;
    justify-content: center;
    background-color: transparent;
    width: 25rem;
    height: 30rem;
    perspective: 1000px;
    margin-bottom: 2rem;
}
.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container 
  .full-card:hover .inner-card {
    transform: rotateY(180deg);
  }*/
  
  /* Position the front and back side */
  .front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .front-card {
    background-color: #bbb;
    color: black;
    border-radius: 15%;
  }
  
  /* Style the back side */
  .back-card {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
    border-radius: 15%;
    align-items: center;
  }