.card-container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(186, 186, 186, 0.601);
  justify-content:space-between;
  width: 90vw;
  height: 100%;
  margin-bottom: 3rem;
  background-color: transparent;
  color: black;
  overflow: hidden;
  transition: transform .3s;
  @media(max-width: 767px){
    width: 85vw;
    margin-bottom: 1rem;
  }
}
.card-container:hover{
  transform: scale(1.05);
}

.img-container{
  display: flex;
  justify-content: center;
  height: 15rem;
  overflow-y:hidden;
  >img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
  }
}
.card-content{
  word-break: break-word;
  hyphens: auto;
  width: 100%;
  display: inline-flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
  text-align: center;
  >h2{
    font-size: x-large;
  }
  >p{
    color: rgba(150, 150, 150);
    line-height: 1;
    font-size: 1.2em;
    @media(max-width: 767px){
      font-size: 1.1em;
      line-height: 1;
    }
  }
}

.card-footer{
  margin-bottom: 2rem;
}

/*** Handles icon animation on hover ***/
.icon-container{
  scale: 2;
  >a>svg{
    fill: inherit;
  }
}
.icon-container:hover{
  animation: icon-translate 2s infinite;
  >a>svg{
    fill: currentColor;
  }
}
@keyframes icon-translate{
  0%  {top: 0%; scale: 2}
  50% {top: 20%; scale: 2.3}
  100%{top: 0%; scale: 2}
}

.icon-container{
  margin-right: 1rem;
}
