.card-container{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content:flex-start;
  width: 90vw;
  max-height: 90vh;
  margin-bottom: 2rem;
  background-color: rgb(212, 255, 233);
  color: black;
  overflow: hidden;
  transition: transform .3s;
  @media(max-width: 767px){
    width: 85vw;
  }
}
.card-container:hover{
  transform: scale(1.05);
}

.img-container{
  display: flex;
  object-fit: fill;
  height: 30rem;
  max-height: 40%;
  >img{
    width: 100%;
  }
}
.card-content{
  height: 45%;
  word-break: break-word;
  hyphens: auto;
  width: 100%;
  display: inline-flex;
  flex-flow: wrap column;
  padding: 0.2rem 1rem;
  >h2{
    font-size: x-large;
  }
  >p{
    line-height: 1.1;
    font-size: 0.8em;
    @media(max-width: 767px){
      font-size: 1.1em;
      line-height: 1;
    }
  }
}
.card-footer{
  height: 10%;
  margin-bottom: 1rem;
}

/*** Handles icon animation on hover ***/
.icon-container{
  scale: 2;
  >a>svg{
    fill: inherit;
  }
}
.icon-container:hover{
  animation: icon-translate 2s infinite;
  >a>svg{
    fill: currentColor;
  }
}
@keyframes icon-translate{
  0%  {top: 0%; scale: 2}
  50% {top: 20%; scale: 2.3}
  100%{top: 0%; scale: 2}
}

.icon-container{
  margin-right: 1rem;
}
