<div class="offset-top">
  <div class="detail-card">
    <div class="icon-container w-25 mb-1">
      <a href="percorsi" title="..." class="d-flex flex-row flex-wrap align-items-baseline">
        <button type="button" class="btn btn-primary"><span style="font-size: 1.3em;">◄</span></button>
      </a>
    </div>
    <div class="detail-header">
      <img class="main-img" src={{percorso.immagini[0].url}} alt={{percorso.immagini[0].alt}}>
      <div class="header-description">
        <h2>{{percorso.nome}}</h2>
        <div class="description">
          <div>
            <p class="fs-5">{{percorso.descrizione}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- CUSTOMIZED PART FOR CENTRALE DETAIL-->
    <div class="detail-content">
      <div class="technical-details">
        <h2>Dettagli percorso</h2>
        <table class="table">
          <tbody>
            <tr>
              <td scope="row">Lunghezza: </td>
              <td class="text-end">{{percorso.dettagliPercorsi.lunghezza}}</td>
            </tr>
            <tr>
              <td scope="row">Durata: </td>
              <td class="text-end">{{percorso.dettagliPercorsi.durata}}</td>
            </tr>
            <tr>
              <td scope="row">Dislivello: </td>
              <td class="text-end">{{percorso.dettagliPercorsi.dislivello}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="oa-embed">
      </div>
    </div>
  </div>
</div>
