<div class="container-responsive">
    <div class="row">
        <div class="col-12">
            <h1>{{percorso.nome}}</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="photo_container col-12 col-md-6">
            <img class="img-fluid left-aligned" src={{percorso.immagini[0].url}} alt={{percorso.immagini[0].alt}}>
        </div>
        <div class="col-12 mt-3">
            <p>{{ percorso.descrizione }}</p>
        </div>
    </div>
    <div class="row">
        <div class="second-zone col-12 col-md-6">
            <div class="table-responsive">
                <table class="table"  *ngIf="percorso.percorso">
                    <tbody>
                        <tr><th scope="row">ID:</th><td>{{ percorso.percorso.id }}</td></tr>
                        <tr><th scope="col">KM:</th><td>{{ percorso.percorso.lunghezza}}</td></tr>
                        <tr><th scope="col">Ore:</th><td>{{ percorso.percorso.durata}}</td></tr>
                        <tr><th scope="col">Dislivello:</th><td>{{ percorso.percorso.dislivello}}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-container">
                <h2>Percorsi collegati</h2>
                <div>
                    <button class="btn btn-primary mb-2" *ngFor="let trail of percorso.centrali">
                        Percorso {{ trail }}
                    </button>
                </div>
            </div>
            <div class="img-list-container d-flex flex-wrap">
                <img class="img-list img-fluid" *ngFor="let img of percorso.immagini" src={{img.url}} alt={{img.alt}}>
            </div>
        </div>
    </div>
</div>

