<div class="offset-top">
  <div class="bg-image">
    <div class="container-responsive">
      <div class="content-card d-flex flex-column justify-content-center">
        <div class="content-header text-light text-center">
          <h2>
            Benvenuti nella Web App del progetto Le Valli dell'energia pulita
          </h2>
          <p>
            Quest'applicazione ti permetterà di visualizzare e ricercare tutti i percorsi e le centrali idroelettriche.
            <br>Scegli qui sotto dove iniziare!
          </p>
        </div>
        <div class="content-middle d-flex flex-row flex-wrap text-light justify-content-center">
          <div class="main-card left-card">
            <a routerLink="/centrali">
              <h1>Centrali <span class="arrow">→</span></h1>
            </a>
          </div>
          <div class="main-card right-card">
            <a routerLink="/percorsi">
              <h1><span class="arrow">←</span>Percorsi</h1>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
