.bg-image{
  background: url(../../../assets/impianto-idroelettrico-x-1-3072x2048-transformed.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.font-1-3em{
  font-size: 1.3em;
}

.positioning-custom{
  padding: 2rem 3rem;
  margin-bottom: 0;
}

.bg-green{
  background: rgb(63,129,70, 0.85);
}

.border-custom{
  border: 1px solid rgb(63,129,70, 0.85);
  border-radius: 1rem;
}
