.offset-top{
  margin-top: 0;
  position:absolute;
  height: 100%;
  width: 100vw;
  padding: 0 6rem;
  display: flex;
  justify-content: center;
  background: rgb(242, 242, 242);
  @media(max-width: 767px){
    padding: 0;
  }
}

.reqform-container{
  overflow-y:auto;
  scrollbar-width: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 10px;
  width: 85%;
  height: 80%;
  margin-top: 7rem;
  padding: 1rem 3rem;
  background-color: rgb(215, 215, 215);
  @media(max-width: 767px){
    padding: 1rem 0.5rem;
  }
}

.reqform{
  width: 80%;
  @media(max-width: 767px){
    width: 95%;
  }
}

.inputform{
  word-break:break-word;
  word-wrap:break-word;
  hyphens: manual;
}

.selector{
  width: 35%;
  font-size: 90%;
  @media(max-width: 767px){
    width: 75%;
  }
}

.textbox{
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  height: 5rem;
  max-width: 100%;
  align-items: flex-start;
}
