<div class="offset-top">
  <div class="reqform-container">
    <h1 class="mb-5">Form per la segnalazione di un percorso</h1>
    <form #reqForm="ngForm" (ngSubmit)="onSubmit(reqForm)" class=" reqform justify-content-between">
      <div class="form-group d-flex flex-column">
        <p class="align-self-center">
          In questa form puoi segnalare un percorso che vorresti vedere aggiunto alla nostra web app. 
          Il percorso dev'essere presente in OutdoorActive e dev'essere pubblico.</p>
        <p class="fw-bold mb-0">Dove si trova questo percorso?</p>
        <div class="mb-3">
          <select title="zone" class="form-control selector" [(ngModel)]="tmpForm.zona" name="zona">
            <option value="Agno">Valle dell'Agno</option>
            <option value="Astico">Valle dell'Astico</option>
          </select>
        </div>
        <div class="mb-0 d-flex flex-wrap flex-column inputform">
          <label for="oaUrl"><p class="mb-0 fw-bold">Incolla qui il link al percorso di OutdoorActive (il percorso deve essere pubblico)</p></label>
          <p class="mb-0 text-secondary fst-italic">Esempio di link corretto: https://www.outdooractive.com/it/route/escursione/posizione/nome/idnumerico/</p>
          <input
            title="oaUrl"
            class="w-100 mb-1 rounded border-0"
            [(ngModel)]="tmpForm.oaUrl"
            name="oaUrl"
            required
            #oaUrl="ngModel"
            pattern="^https:\/\/www\.outdooractive\.com\/[A-Za-z][A-Za-z]\/route\/escursione\/.+\/.+\/[0-9]+\/.*$">
            <div *ngIf="oaUrl.errors?.['pattern'] && reqForm.submitted" class="text-danger">
            Il link ad outdooractive deve essere come segue: https://www.outdooractive.com/it/<span class="fw-bold">route/escursione/posizione/nome/id numerico/</span>
            </div>
            <div *ngIf="oaUrl.errors?.['required'] && reqForm.submitted" class="text-danger">
              Il link al percorso è obbligatorio!
            </div>
        </div><br>
        <div class="mb-0">
          <label for="messaggio">Scrivi qui un breve messaggio descrittivo sul perché vorresti vedere il percorso aggiunto al nostro sito web</label>
          <textarea
            title="messaggio"
            class="w-100 rounded border-0 textbox"
            [(ngModel)]="tmpForm.messaggio"
            name="messaggio"
            required
            minlength="150"
            maxlength="1500"
            placeholder="Min. 150 caratteri"
            #messaggio="ngModel"></textarea>
            <div *ngIf="messaggio.errors?.['required'] && reqForm.submitted" class="text-danger">
              Il messaggio è obbligatorio.
            </div>
            <div *ngIf="messaggio.errors?.['minlength'] || messaggio.errors?.['maxlength'] && reqForm.submitted" class="text-danger">
              Il messaggio deve contenere fra i 150 e i 1500 caratteri.
            </div>
        </div><br>
          <button type="submit" class="btn selector btn-light">Invia la richiesta</button>
      </div>
    </form>
  </div>
</div>
