<div class="container-responsive">

  <div>
    <div class="btn-cards-select btn-group" role="group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary btn-tutt" for="btnradio1">Tutte</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary btn-agno" for="btnradio2">Agno</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary btn-asti" for="btnradio3">Astico</label>
    </div>
  </div>
  <div class="container">
    <div class="row" >
      <div class="card-group card-mobile-flex col-12 col-lg-4" *ngFor="let centrale of centrali">
          <div class="centrale-card">
              <div class="card">
                  <img src="{{centrale.img[0].url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{centrale.name}}</h5>
                    <p class="card-text">{{centrale.description}}<br>{{centrale.id}}</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

</div>
