.btn-tutto{
    border: 1px solid #5CB34A;
    border-radius: 5%;
    background-color: #5CB34A;
    color: white;
  }
  .btn-agno{
    border: 1px solid #C61E31;
    border-radius: 5%;
    background-color: #C61E31;
    color: white;
  }
  .btn-astico{
    border: 1px solid #114B6C;
    border-radius: 5%;
    background-color: #114B6C;
    color: white;
  }
.container {
  display: flex;
  flex-wrap: wrap;

}


.card{
  margin : 5px;
  background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

}