.first{
  position: fixed;
  width: 100%;
  z-index: 1;
}
.second{
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}
