.btn-tutto{
  background-color: white;
  color: #5CB34A;
}
.btn-agno{
  background-color: white;
  color: #C61E31;
}
.btn-astico{
  background-color: white;
  color: #125277;
}
.container {
display: flex;
flex-wrap: wrap;
}

.search-bar{

margin:5px;
width: 500px;
}
.layout-scrollable{  
  overflow-y: scroll;
  height: 80vh;
  width: 90vw;
  margin-top: 2rem;
}
.layout-scrollable::-webkit-scrollbar{
  display: none; /* Chrome and Safari */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.btn-custom{
  background-color: white;
}

.btn-custom:active{
  z-index: 0;
}