<div class="container-responsive">
    <div class="btn-group btn-group-lg"  role="group" aria-label="Large button group">
        <input group="x" type="radio" class="btn-check" name="btnradio" id="tutti" autocomplete="off" checked>
        <label class="btn btn-outline-primary btn-tutto" for="tutti">Tutti</label>

        <input group="x" type="radio"  class="btn-check" name="btnradio" id="agno" autocomplete="off">
        <label class="btn btn-outline-primary btn-agno" for="agno">Agno</label>

        <input group="x" type="radio"  class="btn-check" name="btnradio" id="astico" autocomplete="off">
        <label class="btn btn-outline-primary btn-astico" for="astico">Astico</label>
    </div>
    <div>
        <form class="d-flex">
            <input  #searchBox class="search-bar d-flex"(input)="filterPercorsi(searchBox.value)" type="search" placeholder="Cerca" aria-label="search">
        </form>
    </div>

    <div class="container">
        <div class="" >
            <div class="" *ngFor="let percorso of percorsiFiltered">
                <app-percorso-card [perc]="percorso"></app-percorso-card>
            </div>
        </div>
    </div>
</div>
