.btn-tutto{
  background-color: white;
  color: #5CB34A;
}
.btn-agno{
  background-color: white;
  color: #C61E31;
}
.btn-astico{
  background-color: white;
  color: #125277;
}

.btn-group{
  z-index: 0;
}
.search-bar{
margin:5px;
width: 500px;
}

.layout-scrollable, .container{
  overflow-y: scroll;
  position: relative;
  padding-top: 12rem;
}
.layout-scrollable::-webkit-scrollbar{
  display: none; /* Chrome and Safari */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn-custom{
  background-color: white;
}
.second{
  height: 90%;
  overflow: hidden;
  padding-top: 5%;
}

.container-responsive{
  padding-top: 6rem;
  position: absolute;
  left: 0;
  right: 0;
}
