.btn-tutto{
  background-color: white;
  color: #5CB34A;
}
.btn-agno{
  background-color: white;
  color: #C61E31;
}
.btn-astico{
  background-color: white;
  color: #125277;
}
.container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.btn-group{
  z-index: 0;
}
.search-bar{
margin:5px;
width: 500px;
}
.layout-scrollable{  
  overflow-y: scroll;
  height: 80vh;
  width: 80vw;
}
.layout-scrollable::-webkit-scrollbar{
  display: none; /* Chrome and Safari */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.btn-custom{
  background-color: white;
}
.second{
  height: 90%;
  overflow: hidden;
  padding-top: 5%;
}
.container-responsive{
  margin-top: 6rem;
}
