/* You can add global styles to this file, and also import other style files */
.container-responsive{
  padding: 6rem, 2rem;
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  width: 100%;

  @media(max-width: 767px){
    padding: 6rem, 1rem;
  }
}

body::-webkit-scrollbar{
  display: none; /* Chrome and Safari */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.offset-top{
  margin-top: 6rem;
  overflow-y:hidden;
  overflow-x: auto;
}

.flex-center{
  position: relative;
  display: flex;
  justify-content: center;
}
