.container-responsive {
    margin: 20px;
}

.photo_container {
    display: flex;
    align-items: center;
    width: 1000px;
}

.img.left-aligned {
    margin-right: 20px;
    max-width: 200px;
}

.table {
    width: 100%;
    margin-top: 20px;
}
.btn{
    margin:5px;
}
.img-list{
    width: auto;
    height: auto;
    margin: 5px;
}

.btn-container {
    margin-top: 20px;
}
