.offset-top{
  background: url(../../../../assets/piccole-dolomiti-1-1-e1711028882665-1024x497.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  margin-top: 0rem;
  padding: 6rem 2rem;
  @media(max-width: 767px){
    padding: 6rem 1rem;
  }

}

.detail-card{
  padding: 2rem 2rem;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  height: 100%;
  @media(max-width: 767px){
    padding: 2rem 1rem;
  }
}

.detail-header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media (max-width: 767px) {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.header-description{
  flex-grow: 1;
  word-break: break-word;
  hyphens: auto;
  align-content: center;
  >h2{
    font-size: 2.7em;
  }
}

.main-img{
  /* 1:1 aspect ratio here */
  aspect-ratio: 1 / 1;
  max-height: 15rem;
  max-width: 15rem;
  height: auto;
  width: auto;
  border-radius: 5px;
  margin-right: 2rem;
  @media(max-width: 767px){
    margin: auto;
    margin-bottom: 1rem;
  }
}

.detail-content{
  padding-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  >div{
    width:50%;
    @media(max-width: 767px){
      width: 100%
    }
  }
  >div:first-child{
    padding-right: 2rem;
    @media(max-width: 767px){
      padding-right: 0;
    }
  }
}

.custom-list-item{
  background-color: rgb(156, 156, 156);
  border-color: rgb(100, 100, 100);
  font-size: 1.5vw;
  @media(max-width: 767px){
    font-size: 2.5vw;
  }
}

.linked-percorsi{
  @media (max-width: 767px){
    margin-top: 2rem;
  }
}
