<div class="offset-top">
  <div class="detail-card">
    <div class="icon-container w-25 mb-1">
      <a href="centrali" title="..." class="d-flex flex-row flex-wrap align-items-baseline">
        <button type="button" class="btn btn-primary"><span style="font-size: 1.3em;">◄</span></button>
      </a>
    </div>
    <div class="detail-header">
      <img class="main-img" src={{centrale.img[0].url}} alt={{centrale.img[0].alt}}>
      <div class="header-description">
        <h2>{{centrale.name}}</h2>
        <p class="text-danger">
          placeholder per inserire indirizzo
        </p>
        <div class="description">
          <div>
            <p class="fs-5">{{centrale.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- CUSTOMIZED PART FOR CENTRALE DETAIL-->
    <div class="detail-content">
      <div class="technical-details">
        <h2>Dettagli tecnici</h2>
        <table class="table">
          <tbody *ngFor="let item of centrale.technical_details">
            <tr>
              <td scope="row">{{item.type}}</td>
              <td class="text-end">{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="linked-percorsi" >
        <h2>Percorsi collegati</h2>
        <div *ngIf="linkedPercorsi.length===0">
          <p>Nessun percorso disponibile</p>
        </div>
        <div class="row" *ngIf="linkedPercorsi.length">
          <div class="col-12 col-lg-6" *ngFor="let percorso of linkedPercorsi">
            <app-percorso-card [perc]="percorso" class="d-flex flex-row flex-wrap h-"></app-percorso-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
