.offset-top{
  padding: 0rem 2rem;
}

.detail-card{
  padding: 2rem 2rem;
  background-color: rgb(186, 186, 186);
  border-radius: 10px;
  height: 100vh;
}

.detail-header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.header-description{
  flex-grow: 1;
  word-break: break-word;
  hyphens: auto;
  align-content: center;
  >h2{
    font-size: 2.7em;
  }
}

.main-img{
  /* 1:1 aspect ratio here */
  aspect-ratio: 1 / 1;
  max-height: 15rem;
  max-width: 15rem;
  height: auto;
  width: auto;
  border-radius: 5px;
  margin-right: 2rem;
  @media(max-width: 767px){
    margin: auto;
    margin-bottom: 1rem;
  }
}

.detail-content{
  padding-top: 1rem;
}
