<div class="offset-top">
  <div class="detail-card">
    <div class="icon-container w-25 mb-1">
      <a href="centrali" title="..." class="d-flex flex-row flex-wrap align-items-baseline">
        <button type="button" class="btn btn-primary"><span style="font-size: 1.3em;">◄</span></button>
      </a>
    </div>
    <div class="detail-header">
      <img class="main-img" src={{centrale.immagini[0].url}} alt={{centrale.immagini[0].alt}}>
      <div class="header-description">
        <h2>{{centrale.nome}}</h2>
        <a href="https://www.openstreetmap.org/#map=16/{{centrale.localita.coordinate[0]}}/{{centrale.localita.coordinate[1]}}&layers=P" class="text-danger fs-3 text-decoration-none">
          <p>
            {{centrale.localita.indirizzo}} <span class="">&#10172;</span>
          </p>
        </a>
        <div class="description">
          <div>
            <p class="fs-5">{{centrale.descrizione}}</p>
            <p>Stato centrale:
              <span *ngIf="centrale.stato === true" class="text-success">attiva</span>
              <span *ngIf="centrale.stato === false" class="text-danger">inattiva</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- CUSTOMIZED PART FOR CENTRALE DETAIL-->
    <div class="detail-content">
      <div class="technical-details">
        <h2>Dettagli tecnici</h2>
        <table class="table" *ngIf="centrale.dettagliCentrali">
          <tbody *ngFor="let item of centrale.dettagliCentrali">
            <tr *ngIf="item.valore">
              <td scope="row">{{item.tipo}}</td>
              <td class="text-end">{{item.valore}} {{item.unitaDiMisura}}</td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="centrale.dettagliCentrali.length===0">Dettagli centrale non disponibili</p>
      </div>
      <div class="linked-percorsi" >
        <h2>Percorsi collegati</h2>
        <div *ngIf="linkedPercorsi.length===0">
          <p>Nessun percorso disponibile</p>
        </div>
        <div class="row" *ngIf="linkedPercorsi.length">
          <div class="col-12 col-lg-6" *ngFor="let percorso of linkedPercorsi">
            <app-percorso-card [perc]="percorso" class="d-flex flex-row flex-wrap h-"></app-percorso-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
